$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 1000px
$homePageWidth = 960px

.home .features{
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align:center;
}

.home .feature {
    flex-grow: auto;
    max-width: 50%;
}

.home .feature h2{
    font-size: 2rem;
}
